.live-ep, .live-tag{ display: inline-flex; background-color: #fff; border-radius: .2rem; font-size: 12px; color: #000; font-weight: 600; line-height: 20px; padding: 0 5px;}
.body_live{ position: relative;}
.body_live header{ position: relative; top: auto; left: auto; right: auto;}
.body_live header #logo img{ height: 40px;}
.body_live header .header-elements{ padding: 0 1.5rem; height: 80px;}
.body_live #live{ display: flex; width: 100%; min-height: calc(100vh - 400px);}
.live-category .v-dropdown-menu.bg-dark{ background-color: rgba(25,28,41,0.95) !important;}
.live-category .v-pagination .btn-secondary{ background-color: #fff1 !important; border-color: transparent !important;}
.live_layout{ width: 100%; display: flex; align-items: flex-start; justify-content: space-between; overflow: auto; position: relative; background-color: #000;}

.l_content, .l_sidebar{ height: calc(100vh - 80px); flex-shrink: 0;}
.live_layout .l_content{ width: calc(100% - 440px); display: flex; flex-direction: column; gap: 0; overflow: auto; scrollbar-width: none; -ms-overflow-style: none;}
.live_layout .l_content::-webkit-scrollbar{display: none;}
.live_layout .l_watch{ height: calc(100vh - 80px); flex-shrink: 0; display: flex; flex-direction: column; justify-content: space-between;}
.live_layout .l_sidebar{ width: 440px; padding: 1rem; padding-left: 0; display: flex; flex-direction: column;}

.lw-header, .lw-bottom{ position: relative; background-color: #000000b0; flex-shrink: 0; height: 70px; padding: 0 1.5rem; display: flex; align-items: center; gap: .5rem;}
.lw-header{ position: sticky; top: 0; z-index: 4; justify-content: flex-start;}
.lw-header .lw-header-rows{ display: flex; flex-direction: column; gap: .1rem; margin-left: .2rem; flex-grow: 1;}
.lw-header .lw-header-rows .live-tag{ font-size: 11px !important; line-height: 18px !important; padding: 0 4px !important;}
.lw-header .lw-header-rows .live-source .tag-small{ font-size: 12px;}
.lw-header .live-name{ color: #fff; font-size: 1.2em; line-height: 1.4; font-weight: 600; display: flex; align-items: center; gap: .25rem;}
.lw-header .live-logo img{ height: 40px; width: auto;}
.lw-header .live-back{ display: flex;}
.lw-header .alias-name{ color: var(--primary-color); font-size: 1.1em; font-weight: 400; line-height: 1.3;}
.lw-player{ flex-grow: 1; display: flex; align-items: center; background-color: #000; /* padding: 0 1.5rem; */ position: relative;}
.lw-player .video-frame{ position: relative; flex-grow: 1; width: 100%; height: 100%;}
.lw-player .video-frame video, .lw-player .video-frame iframe, .lw-player .video-frame .back-cover{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100% !important; height: 100% !important; object-fit: contain;}
.lw-player .video-frame .back-cover{ background-size: cover; opacity: .5;}
#myVideo{ object-fit: cover;}
.lw-bottom{ height: 80px; justify-content: space-between;}
.lw-bottom .flex-container{ display: flex; align-items: center; justify-content: space-between; gap: 2rem; width: 100%;}
.live-owner{ gap: .75rem; color: #fff; flex-grow: 1;}
.live-owner .user-avatar{ width: 46px; height: 46px;}
.user-avatar.o-live{ width: 46px; height: 46px; border: 2px solid red; animation: live-avatar 1s infinite;}
.user-avatar.o-live img{ transform: scale(.8); border-radius: 50%;}
@keyframes live-avatar{
    0%{ transform: scale(1);}
    50%{ transform: scale(1.1);}
    100%{ transform: scale(1);}
}
@keyframes countdown{
    0%{ filter: blur(2px);}
    50%{ filter: blur(0);}
    100%{ filter: blur(2px);}
}
.live-owner .o-info .user-name{ font-weight: 600; line-height: 1.4; margin-bottom: .1rem;}
.live-owner .o-info .created{ font-size: .85em; line-height: 1.4; color: var(--text-base);}
.live-countdown, .live-trailer{ font-size: 16px; position: absolute; z-index: 3; bottom: 2rem; left: 2rem; width: 100%; max-width: 440px; padding: 2rem; background-color: #0008; backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); color: #fff; display: flex; flex-direction: column; gap: .5rem; border-radius: 1.5rem; border: 1px solid #fff5; box-shadow: 0 20px 20px 10px #0003;}
.live-countdown .text{ font-size: 20px;}
.live-countdown .count-start{ margin-top: 1rem;}
.live-countdown .count-start #countdown{ flex-shrink: 0; font-size: 24px; font-weight: 700; line-height: 1.2; width: 210px; padding: 0; height: 50px; border-radius: .5rem; display: inline-flex; align-items: center; justify-content: center; background-color: #fff; color: #000; animation: countdown 1s infinite;}
.live-countdown .count-start .remind{ height: 52px; padding: 0 1rem; border-radius: .6rem; font-size: 16px; border: 1px solid #fff6; justify-content: center; gap: .75rem; cursor: pointer;}
.live-countdown .count-start .remind.active{ color: var(--primary-text); border-color: var(--primary-color);}
.live-countdown .count-start .btn-lg{ font-size: 16px;}
.live-countdown .buttons{ display: flex; align-items: center; gap: 1rem;}
.live-countdown .buttons > .btn{ flex: 1; gap: 1rem;}
.live-countdown.center{ bottom: auto; left: 50%; top: 50%; transform: translate(-50%,-50%); align-items: center; text-align: center;}
.live-trailer{ font-size: 14px; border-radius: .75rem; max-width: none; left: auto; right: 2rem; width: auto; padding: 1rem 1.5rem; align-items: center; background-color: #0002; color: #fff9; border-color: #fff3;}
.live-trailer > div{ white-space: nowrap;}
.live-trailer .text{ font-weight: 600; font-size: 1.1em; color: var(--primary-color); max-width: 260px;}
.l_detail{ position: relative; padding: 2rem 1rem; border-top: 1px solid #fff2;}
.l_detail .ld-source{ display: flex; align-items: stretch; justify-content: space-between; gap: 2rem; width: 100%; padding: 1.5rem; max-width: 1500px; margin: 0 auto;}
.l_detail .ld-source .ld-source-detail{ width: 520px; display: flex; align-items: flex-start; gap: 1.5rem;}
.ld-suggest{ flex-grow: 1; display: flex; align-items: flex-start; gap: 2rem; padding-left: 2rem; border-left: 1px solid #fff2;}
.ld-suggest .lds-title{ max-width: 120px; flex-shrink: 0; display: flex; flex-direction: column; gap: 1rem;}

.lds-items{ display: flex; align-items: flex-start; gap: 1.2rem; flex-grow: 1; height: 100%;}
.s-live{ position: relative; flex: 1; height: 100%; display: flex; flex-direction: column; justify-content: flex-end;}
.s-live .v-thumbnail{ position: relative; background-color: transparent;}
.s-live .v-thumbnail img{ mask-image: linear-gradient(to top, transparent 0%, transparent 10%, black 100%); -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 10%, black 100%);}
.s-live-user{ position: absolute; bottom: 0; left: 0; right: 0; z-index: 2;}
.s-live-user .live-owner, .s-live-user .live-owner .o-info{ display: flex; flex-direction: column; align-items: center; text-align: center; width: 100%;}
.s-live-user .live-owner .user-avatar{ background-color: #0003;}
.s-live-user .live-owner .name-cut{ max-width: 120px; font-size: 12px; color: var(--text-base); font-weight: 400;}

.shoutbox{ height: 100%; display: flex; flex-direction: column; justify-content: space-between; gap: 0; background-color: #0e0f14; border: 1px solid #fff2; border-radius: 1rem; position: relative; z-index: 9;}
.shoutbox .sb_header{ padding: 1.5rem; flex-shrink: 0; display: flex; align-items: center; gap: 1rem;}
.shoutbox .sb_header > div{ position: relative;}
.shoutbox .sb_header .item-settings{ cursor: pointer;}
.shoutbox .sb_header .item-clean{ display: none;}
.shoutbox .sb_body{ position: relative; flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between; gap: .25rem; overflow: hidden;}
.shoutbox .sb_bottom{ display: flex; flex-direction: column; gap: .75rem; padding: 1rem 1.5rem; flex-shrink: 0; position: relative; z-index: 8;}
.shoutbox .sb_bottom .is_top{ display: flex; align-items: center; justify-content: space-between; gap: .5rem;}
.shoutbox .sb_bottom .is_top .is_top-button{ width: 70px; flex-shrink: 0;}
.shoutbox .sb_bottom .is_top .is_top-button .btn{ height: 46px; font-weight: 500;}
.shoutbox .sb_bottom .is_top .is_top-input{ flex-grow: 1; position: relative;}
.shoutbox .sb_bottom .is_bottom{ font-size: 13px; color: #fff6; position: relative; display: flex; align-items: center; gap: .5rem;}
.shoutbox .sb_bottom .is_bottom .is_bottom-alert{ height: 24px; position: absolute; top: 50%; transform: translateY(-50%); left: -4px; padding: 0 4px; background-color: #111; z-index: 2;}
.sb_bottom .row-new{ position: absolute; top: 0; left: 0; right: 0; transform: translateY(-110%); z-index: 2; display: flex; align-items: center; justify-content: center;}
.sb_bottom .row-new .btn-light{ border: none !important; box-shadow: 0 0 10px #0003 !important;}
.sb_bottom .row-new .btn-light .icon-new{ position: relative; animation: arrow-down .3s infinite;}
@keyframes arrow-down{
    0%{ top: -1px}
    50%{ top: 1px}
    100%{ top: -1px}
}
.sb_bottom .row-reply{ font-size: 13px; padding: .4rem .5rem; padding-right: 36px; position: relative; background-color: #fff2; border-radius: .3rem; color: #fffc; margin: -.5rem 0 -.2rem; display: none; flex-direction: column;}
.sb_bottom .row-reply.active{ display: flex;}
.sb_bottom .row-reply .rep-user{ color: var(--primary-text); margin-right: 3px;}
.sb_bottom .row-reply .rep-subject img{ max-width: 100px; max-height: 80px; width: auto; height: auto;}

.sb_bottom .row-reply .rep-close{ display: flex; width: 30px; height: 30px; align-items: center; justify-content: center; position: absolute; right: 0; top: 0; cursor: pointer;}
.is_top-input .emo{ position: absolute; z-index: 2; left: 0; top: 50%; transform: translateY(-50%);}
.is_top-input .emo .emo-btn{ width: 40px; height: 40px; font-size: 20px; color: #0006; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.is_top-input .emo .emo-btn:hover{ color: #0009;}
.is_top-input .text-left{ position: absolute; top: 0; right: 0; z-index: 2; font-size: 10px; line-height: 1; padding: .2rem .3rem; color: #0006;}
.is_top-input .chat-input{ background-color: #fff !important; border: 1px solid #fff3 !important; min-height: 46px; color: #000; font-size: 13px; padding-left: 40px; padding-right: 1rem;}
.is_top-input .chat-input::placeholder{ color: #0008;}
.is_top-input .chat-input:focus{ box-shadow: 0 0 0 3px #ffd87530 !important;}

.chat-list{ flex-grow: 1; position: relative; display: flex; flex-direction: column;  overflow-x: hidden; overflow-y: auto;}
.chat-row{ padding: .6rem 1.5rem; font-size: 14px; position: relative;}
.chat-row:hover{ background-color: #ffffff05;}
.chat-row .user-avatar{ width: 36px; height: 36px; flex-shrink: 0; margin-top: .1rem;}
.chat-row .info{ flex-grow: 1; font-size: 13px;}
.chat-row .info .user-name{ color: #fff; font-weight: 500; gap: .3rem;}
.chat-row .info .time{ font-size: 11px; color: #fff5; opacity: 0;}
.chat-row .info .pin{ font-size: .85em; color: #fff5;}
.chat-row .info .pin i{ color: #F8473E;}
.chat-row:hover .info .time{ opacity: 1;}
.chat-row .info .opt-menu{ position: absolute; top: .5rem; right: .5rem;}
.chat-row .info .opt{ width: 26px; height: 26px; display: flex; align-items: center; justify-content: center; border-radius: 3rem; background-color: #fff1; cursor: pointer; opacity: 0;}
.chat-row:hover .info .opt{ opacity: 1;}
.chat-row .info .opt:hover{ background-color: #fff2;}
.chat-row .info .subject{ font-size: 13px; line-height: 1.5; padding-top: 1px;}
.chat-row .info .subject img{ height: auto; max-width: 200px; max-height: 140px; margin-top: 5px; object-fit: contain;}
.chat-row .info .reply{ margin: 4px 0; font-size: 12px; padding: .4rem .6rem; background-color: #ffffff17; color: #fffc; border-radius: .4rem; display: flex; flex-direction: column; gap: 4px;}
.chat-row .info .reply > span{ line-height: 1.2; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; white-space: normal !important;}
.chat-row .info .reply > span.rep-subject{ line-height: 1.5; -webkit-line-clamp: 3;}
.chat-row .info .reply > span.rep-subject img{ max-width: 150px; max-height: 120px;}
.chat-row.hide, .chat-row.blocked{ color: #fff5;}
.chat-row.hide .user-avatar, .chat-row.blocked .user-avatar{ filter: grayscale(1); opacity: .5;}
.chat-row.hide .info .user-name{ color: #fff5 !important;}
.chat-row.blocked .info .user-name{ color: red !important; opacity: .5; text-decoration: line-through !important;}
.chat-row.blocked .info .subject{ filter: blur(3px);}
.chat-notice{ padding: 0 1.5rem; margin: .5rem 0; width: 100%; background-color: transparent !important; text-align: center;}
.chat-notice > div{ padding: 1rem 1rem; background-color: #22222263; width: 100%; border-radius: .6rem;}
.chat-notice > div p{ margin-bottom: 0;}
.chat-notice.item-start > div{ background-color: #496532 !important; color: #fff;}
.chat-notice.item-start > div .text-primary{ color: #B4FF75 !important;}
.chat-notice.item-end > div{ background-color: #362f20; color: #fffa;}
.chat-notice.item-join > div{ background-color: transparent; padding: 0; font-size: 12px; opacity: .5;}
.chat-pin-area{ background-color: #0e487a; display: flex; flex-direction: column;}
.chat-pin-area .chat-row{ color: #fff8; padding-top: .75rem; padding-bottom: .75rem;}
.chat-pin-area .chat-row + .chat-row{ border-top: 1px solid #fff1; border: 1px solid transparent;}
.v-tabs.v-tabs-min.nav-pills.is-dark .nav-link{ color: #000 !important;}
.v-tabs.v-tabs-min.nav-pills.is-dark .nav-link.active{ color: #000 !important; border-color: #000;}
.emo-stickers{ padding: .5rem 0 0 !important;}
.emo-stickers .v-tabs-min{ padding: .5rem; border-top: 1px solid #0002;}
.emo-stickers .nav-link{ min-width: 50px !important; text-align: center;}
.emo-stickers .v-tabs.nav-pills .nav-link + .nav-link{ margin-left: .2rem;}
.sticker-list{ display: grid; grid-template-columns: repeat(3,1fr); min-width: 300px; max-height: 220px; overflow: auto; padding: 0 .5rem .5rem;}
.sticker-list .sk-item{ padding: .75rem; border-radius: .6rem;}
.sticker-list .sk-item:hover{ background-color: #0001;}
.sticker-list .sk-item img{ width: 100%; height: 100%; object-fit: contain;}
.emo-stickers .emo-list{ padding: 0 .5rem .5rem;}
.epr-main{ margin-top: -.5rem; border: none !important;}
.epr-main > div{ display: none;}
.epr-main .epr-header, .epr-main .epr-body{ display: block !important;}
.epr-category-nav{ padding: .1rem .5rem !important;}
.epr-emoji-category-label{ font-size: 13px; font-weight: 400; padding: .3rem 1rem;}
.chat-blank .v-notice{ background-color: transparent !important;}

/* scroll bar */
.ps__thumb-y{ background-color: #333;}
.ps .ps__rail-x.ps--clicking, .ps .ps__rail-x:focus, .ps .ps__rail-x:hover, .ps .ps__rail-y.ps--clicking, .ps .ps__rail-y:focus, .ps .ps__rail-y:hover{ background-color: #171717; width: 12px;}
.ps__rail-y.ps--clicking .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y:hover > .ps__thumb-y{ background-color: #444; width: 8px; cursor: grabbing;}

/* live settings */

body.js-live-header header{ display: none;}
body.js-live-header .live_layout .l_watch, body.js-live-header .l_content, body.js-live-header .l_sidebar{ height: 100vh;}
body.js-live-header .lw-header .live-back{ display: flex;}
body.js-live-chatleft .live_layout{ flex-direction: row-reverse;}
body.js-live-chatleft .live_layout .l_sidebar{ padding-left: 1rem; padding-right: 0;}
body.js-live-min .live_layout .l_content{ width: calc(100% - 350px);}
body.js-live-min .live_layout .l_sidebar{ width: 350px; padding: .5rem;}
body.js-live-min .shoutbox{ border: none; background-color: transparent; border-radius: 0;}
body.js-live-min .shoutbox .sb_header, body.js-live-min .shoutbox .sb_bottom{ padding: .75rem .5rem;}
body.js-live-min .lw-player{ padding: 0}
body.js-live-min .chat-row{ padding: .6rem .8rem;}
body.js-live-mask .shoutbox{ background-color: transparent; border: none; position: absolute; top: 0; right: 0; bottom: auto; height: auto; z-index: 5; opacity: 1;}
body.js-live-mask .shoutbox .sb_header{ display: flex !important; padding: 1.6rem;}
body.js-live-mask .shoutbox .sb_header .item-settings{ display: none;}
body.js-live-mask .shoutbox > div{ display: none;}
body.js-live-mask .live_layout .l_content{ width: 100%;}
body.js-live-mask .live_layout .l_sidebar{ width: 0; padding: 0;}
body.js-live-mask .lw-player{ padding: 0}
.lw-player.min-size{ transform: scale(.8);}
.live-min{ cursor: pointer;}
.live-min:hover{ color: #fff;}
.live-min.active{ color: var(--primary-text) !important;}

/* live category */
.live-manager{ height: 200px; display: flex; align-items: center; justify-content: center;}
.live-manager .buttons .btn-xl{ min-height: 54px; padding: .6rem 1.8rem; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);}
.live-category{ background-color: var(--footer-bg); border-bottom: 1px solid #fff1;}
.live-category .fluid-gap{ gap: 4rem;}
.live-category .live-background{ position: absolute; top: 0; left: 0; right: 0; height: 500px; width: 100%; mask-image: linear-gradient(to top, transparent 0,black 80%); -webkit-mask-image: linear-gradient(to top, transparent 0,black 80%)}
.live-category .live-background img, .live-category .live-background:before{ z-index: 1; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;}
.live-category .live-background:before{ content: ""; background-image: url(/images/dotted.png); background-repeat: repeat; filter: none; z-index: 2; opacity: .5;}
.live-category .live-background img{opacity: 1; z-index: 1; object-fit: cover; mask-image: linear-gradient(to top, transparent 0,black 100%); -webkit-mask-image: linear-gradient(to top, transparent 0,black 100%)}

.w2g-live .live-grid{ display: grid; grid-template-columns: repeat(5,1fr); gap: 1.25rem; row-gap: 2rem;}
.w2g-live .live-grid.live-grid-big{ grid-template-columns: repeat(4,1fr);}
.w2g-live .card-live{ display: flex; flex-direction: column; gap: .75rem;}
.w2g-live .card-live .v-thumbnail-hoz{ padding-bottom: 56%; border-radius: .6rem;}
.w2g-live .v-thumbnail .live-mask{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 4;}
.w2g-live .card-live .card-live-detail{ display: flex; align-items: flex-start; gap: 1rem; flex-direction: row;}
.w2g-live .card-live .card-live-detail .user-avatar{ width: 40px; height: 40px;}
.w2g-live .card-live .card-live-detail .is-info{ display: flex; flex-grow: 1; flex-direction: column; gap: .1rem; font-size: .9em;}
.w2g-live .card-live .card-live-detail .live-name{ font-size: 14px; line-height: 1.5; font-weight: 500; margin-bottom: .2rem;}
.w2g-live .card-live .card-live-detail .source-name{ font-size: 12px; font-weight: 400; margin-bottom: .15rem; color: var(--text-base);}
.w2g-live .card-live .card-live-detail .info-line > div{ font-size: 12px}
.w2g-live .card-live .card-live-detail .info-line .tag-user a{ color: var(--text-base);}
.w2g-live .card-live .card-live-detail .is-option{ position: relative;}
.w2g-live .live-grid-small .card-live .v-thumbnail{ background-color: transparent; border-radius: .6rem; padding-bottom: 56%;}
/* .w2g-live .live-grid-small .card-live .v-thumbnail img{ mask-image: linear-gradient(to top, transparent 0%, transparent 80px, black 80%);} */
.w2g-live .live-grid-small .card-live .v-thumbnail img{ filter: blur(20px); transform: scale(1.2); transform-origin: center center; opacity: .6;}
.w2g-live .live-grid-small .card-live .v-thumbnail:before{ content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url(/images/dotted.png); z-index: 2; opacity: .3;}
.w2g-live .live-grid-small .card-live .card-live-detail{ position: relative; z-index: 4;}
.w2g-live .live-grid-small .card-live .card-live-detail .live-name{ line-height: 1.5; font-size: 1.1em; -webkit-line-clamp: 2;}
.w2g-live .card-live .v-thumbnail .live-tag{ position: absolute; top: .5rem; left: .5rem; z-index: 3; border-radius: .3rem; height: 24px; padding: 0 .4rem; box-shadow: 0 0 5px 5px #0001;}
.w2g-live .current-status{ position: absolute; z-index: 3; bottom: .5rem; left: .5rem; display: flex; align-items: center; gap: .5rem; background-color: #0009; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); padding: .3rem .7rem; font-size: 12px; font-weight: 600; color: #fff; border-radius: .4rem; border: 1px solid #fff; box-shadow: 0 0 5px 5px #0001;}
.w2g-live .current-status.status-live{ border: 1px solid #fff; border-radius: .4rem;}
.w2g-live .current-status.status-end{ color: #fe476a; border-color: #fe476a; font-weight: 400;}
.w2g-live .current-status.status-coming{ font-weight: 400;}
.w2g-live .current-status.status-coming .time-left{ font-weight: 600;}
.w2g-live .remind-me{ left: auto; right: .5rem; cursor: pointer; z-index: 5;}
.w2g-live .remind-me.active{ color: var(--primary-text) !important; border-color: var(--primary-color) !important;}
.start-now{ background-color: #fff; color: #000; left: .5rem; right: auto; bottom: .5rem; top: auto; z-index: 5;}
.start-now:hover{ background-color: var(--primary-color); color: #000; border-color: var(--primary-color);}
.w2g-live .card-live .thumb-small{ position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 39%; height: 100%; z-index: 2; background-size: cover; background-position: top center; box-shadow: 0 10px 10px 0 #0002; mask-image: linear-gradient(to top, transparent 0%, black 30%)}

.light-blur{ width: 100%; height: 350px; background-color: #fff8; filter: blur(100px); position: absolute; top: -150px; left: 50%; transform: translateX(-50%); border-radius: 50%; animation: light-blur 3s infinite;}
@keyframes light-blur{
    0%{ background-color: #fffa;}
    33%{ background-color: #db586e;}
    66%{ background-color: #6477c2;}
    100%{ background-color: #fffa;}
}

.quick-play .btn-sm{ min-height: 0;}

/* live manager */
#wrapper.is-live-create .cards-row.wide{ max-width: 1200px;}
.w2g-create{ display: flex; align-items: stretch; gap: 2rem; margin: 2rem auto;}
.w2g-create .w2g-org-detail{ flex-shrink: 0; width: 430px; display: flex; flex-direction: column; justify-content: flex-end; gap: 1.25rem; padding: 2rem; background-color: #212a56; border-radius: 1.25rem; overflow: hidden; position: relative;}
.w2g-create .w2g-org-detail .div-poster{ width: 100%; flex-shrink: 0; position: absolute; top: 0; left: 0; right: 0; mask-image: linear-gradient(to top, transparent 0%, transparent 10%, black 70%); -webkit-mask-image: linear-gradient(to top, transparent 0%, transparent 10%, black 70%);}
.w2g-create .w2g-org-detail .info{ position: relative; z-index: 3;}
.w2g-create .w2g-org-detail .buttons{ gap: .75rem;}
.w2g-create .w2g-org-detail .buttons .btn{ cursor: default !important;}
.w2g-create .w2g-step{ flex-grow: 1; display: flex; flex-direction: column; gap: 1rem;}
.step-row{ padding: 2rem; border-radius: 1rem; background-color: #282b3a}
/* .step-row:nth-child(2n){ background-color: #0002;} */
.step-row .step-name{ font-weight: 500; color: #fff; font-size: 1.2em; margin-bottom: .5rem;}
.step-row .d-poster{ flex-shrink: 0;}
.step-row .d-poster .item{ width: 70px; flex-shrink: 0; padding: 2px; border: 1px solid #fff5; border-radius: .5rem; cursor: pointer; opacity: .5;}
.step-row .d-poster .item.active{ border-color: var(--primary-color); opacity: 1;}
.step-row .d-poster .item .v-thumbnail{ border-radius: .4rem;}
.form-control.size-lg{ font-size: 15px; height: 50px; padding: .5rem 1.25rem; border-color: #fff2;}
.step-row .start-manual{ margin-top: 1.5rem;}
.timedate-picker{ position: relative;}
.timedate-picker.hide:before{ content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #282b3a; opacity: .95; z-index: 2;}

.modal-createlive .modal-dialog{ max-width: 420px;}
.modal-createlive .modal-dialog .modal-content{ background-color: #282b3a; border: 1px solid #fff2 !important;}
.modal-createlive .modal-content .is-footer .btn{ width: 100%;}
.create-live-steps{ display: flex; flex-direction: column; width: 100%; gap: 0; border-top: 1px solid #fff1; margin: 1.5rem 0 .5rem;}
.create-live-steps .step{ position: relative;  display: flex; align-items: center; gap: 1rem; border-bottom: 1px solid #fff1;}
.create-live-steps .step .number{ flex-shrink: 0; width: 30px; font-size: 36px; font-weight: 100; line-height: 1; color: var(--primary-text);}
.create-live-steps .step .text{ flex-grow: 1; color: #fff; padding: 1.25rem 0; line-height: 1.7;}
.create-live-steps .step .btn-dark{ background-color: #0f111a !important; border: 1px solid #fff !important; padding: .2rem .4rem; margin: 1px 3px; border-radius: .4rem;}

.live-share{ cursor: pointer;}
.live-share:hover{ color: #fff;}
.live-share .v-dropdown-menu{ margin: .6rem 0 !important; border-radius: .75rem;}
.quick-share{ padding: .7rem 1.2rem; font-size: 13px; display: flex; flex-direction: column; gap: .5rem;}
.quick-share .quick-share-link{ font-size: 12px; padding: .4rem .8rem; border-radius: .4rem; min-width: 220px;}
.quick-share .btn-sm{ border-radius: .4rem;}

.buttons-loadmore .btn-xl{ padding: .8rem 4rem; min-height: 54px; gap: 1.5rem; font-size: 16px;}
.buttons-loadmore .btn-outline:hover{ border-color: var(--primary-color) !important; color: var(--primary-text) !important;}



body.js-live-min.js-live-mask .shoutbox .sb_header{ padding: 1.6rem;}
.js-live-mask .lw-header > .btn-end-live{ margin-right: 110px;}

.MuiPaper-root{ background-color: #3b4058 !important;}
.Mui-selected{ background-color: var(--primary-color) !important; color: #000 !important;}
.MuiPickersLayout-contentWrapper{ border-bottom: 1px solid #fff2 !important;}
.MuiButton-textPrimary{ color: #fff !important;}

@media screen and (max-width: 1919px){
    .l_detail{ padding: 3rem 0;}
    .l_detail .ld-source{ padding: 0 20px; max-width: 1000px; flex-direction: column; gap: 3rem;}
    .ld-suggest{ border: none; padding: 0; flex-direction: column; gap: 1.5rem; justify-content: space-between;}
    .ld-suggest > div{ width: 100%; max-width: none !important;}
    .ld-suggest > div.lds-title{ flex-direction: row; justify-content: space-between; align-items: center;}
}
@media screen and (max-width: 1680px){
    .live-category .live-background{ height: 400px;}
    .live-manager{ height: 140px;}
    .body_live header, #div-adt{ display: none;}
    .l_content, .l_sidebar, .live_layout .l_watch{ height: 100vh;}
    .lw-header .live-back{ display: flex;}
    .live_layout .l_sidebar{ width: 380px;}
    .live_layout .l_content{ width: calc(100% - 380px);}
    .shoutbox .sb_bottom, .shoutbox .sb_header{ padding: 1rem; height: auto;}
    .chat-row{ padding: .6rem 1rem;}
    .chat-notice{ padding: 0 1rem;}
    .live-grid{ grid-template-columns: repeat(4,1fr);}
}
@media screen and (max-width: 1440px){
    .live-category .fluid-gap{ gap: 3rem;}
    .w2g-live .live-grid.live-grid-big{ grid-template-columns: repeat(3,1fr);}
}
@media screen and (max-width: 1280px){
    .w2g-live .live-grid{ grid-template-columns: repeat(3,1fr);}
}
@media screen and (max-width: 1199px){
    .w2g-live .live-grid{ column-gap: 1rem;}
    .w2g-live .live-grid.live-grid-big{ grid-template-columns: repeat(2,1fr);}
    .light-blur{ top: -200px;}
    .lw-header, .lw-bottom{ padding: 0 1rem; height: 60px !important;}
    #div-tg, .live-min, .lw-bottom .live-source{ display: none;}
    .shoutbox .sb_bottom .is_bottom .is_bottom-alert{ background-color: #000;}
    .chat-pin-area .chat-row{ padding: .6rem 1rem;}
    .live-countdown{ font-size: 14px; max-width: 320px; padding: 1rem; border-radius: .75rem; left: 1rem; bottom: 1rem;}
    .live-countdown .text{ font-size: 16px;}
    .live-countdown .count-start{ margin-top: .5rem; gap: .6rem !important;}
    .live-countdown .count-start #countdown{ font-size: 16px; width: 160px; height: 40px; border-radius: .5rem;}
    .live-countdown .count-start .remind{ font-size: 14px; height: 40px; border-radius: .5rem;}
    .live-countdown .buttons{ gap: .6rem; width: 100%;}
    .live-countdown .buttons > .btn-lg{ font-size: 14px; min-height: 46px; padding: .5rem .8rem; gap: .5rem;}
    .live-trailer{ bottom: 0; right: 0; border: none; backdrop-filter: none !important; background-color: #0e487ad4; border-radius: .6rem 0 0 0; padding: .5rem .8rem;}
    .live-trailer .text{ display: none;}
    .live_layout .l_watch{ height: auto;}
    .lw-player .video-frame{ width: 100%; padding-bottom: 56.25%; height: 0;}
    .w2g-create{ flex-direction: column;}
    .w2g-create > div{ width: 100% !important;}
    .w2g-create .w2g-org-detail{ flex-direction: row;}
    .w2g-create .w2g-org-detail .info .hl-tags{ display: none;}
    .w2g-create .w2g-org-detail .div-poster{ position: relative; top: 0; left: 0; right: 0; width: 140px; mask-image: none !important;}
    .chat-notice > div{ padding: .6rem .75rem;}
    .chat-row{ padding: .4rem .75rem !important; gap: .6rem !important;}
    .chat-row .user-avatar{ width: 30px; height: 30px;}
    .shoutbox .sb_bottom, .shoutbox .sb_header{ padding: .6rem;}
    .lds-items .s-live:nth-child(n+5){ display: none !important;}
    .l_detail{ padding: 1.5rem 0;}
    .l_detail .ld-source .ld-source-detail{ width: 100%;}
    .l_detail .ld-source .ld-source-detail .v-thumb-l{ width: 100px;}
    .lw-bottom .user-avatar{ height: 36px !important; width: 36px !important;}
    body.js-live-mask .shoutbox .sb_header{ padding: 1.2rem;}
    .js-live-mask .lw-header > .btn-end-live{ margin-right: 20px;}
}
@media screen and (min-width: 800px) and (max-width: 1199px){
    .shoutbox{ background-color: #000; border: none;}
    .live_layout .l_sidebar{ width: 280px; padding: 0 !important;}
    .live_layout .l_content{ width: calc(100% - 280px);}
    .js-live-mask .lw-header{ padding-right: 110px;}
}
@media screen and (max-width: 999px){
    .w2g-live .live-grid{ grid-template-columns: repeat(2,1fr)}
}
@media screen and (max-width: 799px){
    .w2g-live .live-grid{ grid-template-columns: repeat(2,1fr); row-gap: 1.5rem;}
    .w2g-live .live-grid.live-grid-big{ grid-template-columns: repeat(1,1fr);}
    .w2g-live .card-live .card-live-detail .is-info{ font-size: 12px;}
    .w2g-live .card-live .card-live-detail .user-avatar{ width: 40px !important; height: 40px !important;}
    .light-blur{ display: none !important;}
    /* live page */
    .live_layout{ flex-direction: column; height: 100vh; justify-content: space-between;}
    .live_layout > div{ width: 100% !important;}
    .live_layout .l_sidebar{ padding: 0 !important; height: auto; position: relative; flex-grow: 1; border-top: 1px solid #fff2;}
    body.js-live-mask .shoutbox{ left: 0;}
    .shoutbox{ border: none; background-color: #000; border-radius: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
    .shoutbox .sb_header .item-clean{ display: flex;}
    .shoutbox .sb_header{ position: sticky; top: 0;}
    .shoutbox .sb_header .item-settings{ display: none;}
    .l_content, .l_sidebar, .live_layout .l_watch{ height: auto;}
    .js-live-clean{ overflow: hidden !important;}
    .js-live-clean .lw-header, .js-live-clean .lw-bottom{ display: none;}
    .js-live-clean .lw-player{ top: 0; position: fixed; left: 0; right: 0; z-index: 10; background-color: #000;}
    .js-live-clean .live_layout{ padding-top: calc(56.25% + 40px);}
    .js-live-clean .live_layout .l_sidebar{ height: auto; flex-grow: 1; position: fixed; top: 0; left: 0; right: 0; bottom: 0;}
    .js-live-clean .shoutbox{ height: auto;}
    .js-live-clean .shoutbox .sb_header{ background-color: #000; position: fixed; padding-top: calc(56.25% + .6rem) !important; left: 0; right: 0; z-index: 9;}
    .js-live-clean .shoutbox .sb_body{ padding-top: calc(56.25% + 40px) !important;}
    .video-frame{ width: 100%; padding-bottom: 56.25%;}
    .lw-header, .lw-bottom{ height: 56px !important; padding: 0 .5rem;}
    .lw-header .live-name span{ font-size: 13px; max-width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    .lw-header .live-source .tag-name{ max-width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    .lw-header .btn-end-live span{ display: none;}
    .live_layout .l_content{ flex-shrink: 0; position: relative;}
    .live-countdown{ bottom: 0; left: 0; border: none; border-radius: 0 .6rem 0 0; max-width: 250px; font-size: 12px;}
    .live-countdown .text{ font-size: 14px;}
    .live-countdown .count-start .remind{ flex-grow: unset !important;}
    .live-countdown .count-start .remind span{ display: none;}
    .live-countdown .count-start #countdown{ width: auto; flex-grow: 1;}
    .live-countdown.center{ max-width: 300px !important; width: 100% !important; border-radius: .75rem !important;}
    .l_detail{ display: none;}
    .chat-list, .chat-list.ps{ overflow-y: auto !important;}
    .chat-list .ps__rail-y{ display: none !important;}
    .js-live-mask .lw-header > .btn-end-live{ margin-right: 0;}
    body.js-live-mask .shoutbox .sb_header{ padding: .6rem;}
}
@media screen and (max-width: 640px){
    .w2g-live .live-grid{ grid-template-columns: repeat(1,1fr);}
    .live-category .fluid-gap{ gap: 2rem;}
    .live-manager{ height: 70px; margin: -1rem auto !important;}
    .live-manager .buttons .btn-xl{ font-size: 15px; padding: .6rem 1.3rem; min-height: 46px; gap: .75rem;}
    .live-manager .buttons .btn-xl .inc-icon{ width: 15px !important; height: 15px !important;}
    .live-manager .buttons .btn-xl .size-18{ font-size: 15px !important;}
    .live-category .live-background{ height: 250px;}
    .lw-bottom .o-info{ font-size: 13px;}
    .live-owner .o-info .user-name{ margin-bottom: 0;}
    .lw-header .live-ep, .lw-header .live-tag{ line-height: 18px; font-size: 11px; padding: 0 3px;}
    .lw-bottom .user-avatar{ width: 30px !important; height: 30px !important;}
    .lw-bottom .flex-container{ gap: 1rem;}
    .lw-bottom .live-count > div, .lw-bottom .live-progress > div, .lw-bottom .live-share > div{ font-size: 12px; flex-direction: column; gap: 2px;}
    .chat-row .info .opt{ opacity: 1 !important; background-color: transparent;}
    .w2g-create .w2g-org-detail{ padding: 1.2rem; border-radius: .75rem; gap: 1rem;}
    .w2g-create .w2g-org-detail .div-poster{ width: 80px;}
    .step-row{ padding: 1.2rem; border-radius: .75rem;}
}
@media screen and (max-width: 479px){
    .lw-player .video-frame .back-cover{ opacity: .3;}
    .live-countdown{ width: 140px; padding: .6rem;}
    .live-countdown .text{ display: none;}
    .live-countdown .count-start{ flex-direction: column; margin: 0; align-items: flex-start;}
    .live-countdown .count-start #countdown{ background-color: transparent; color: #fff; height: 16px; font-size: 14px; justify-content: flex-start;}
    .live-countdown .count-start .remind{ height: 32px; border-radius: .4rem; margin-top: 2px; font-size: 12px; width: 100%;}
    .live-countdown .count-start .remind span{ display: block;}
    .live-countdown .count-start .remind .icon-16{ width: 12px !important; height: 12px !important;}
    .live-countdown .count-start .btn-light{ min-height: 32px; padding: .4rem .6rem; width: 100%; font-size: 12px; border-radius: .4rem;}
    .live-countdown.center{ background-color: transparent; backdrop-filter: none; padding: 0; border: none; box-shadow: none; max-width: 280px !important;}
    .live-countdown.center .text{ display: block !important;}
    .live-trailer{ padding: .4rem .6rem; bottom: auto; right: 0; top: 0; left: 0; border-radius: 0; background-color: #0009;}
    .w2g-create{ gap: 1rem; font-size: 13px;}
    .w2g-create .w2g-org-detail{ flex-direction: column;}
    .w2g-create .w2g-org-detail .div-poster{ width: 60px;}
    .w2g-create .w2g-org-detail .buttons .btn{ padding: .5rem .9rem !important; font-size: 13px !important;}
    .step-row .d-poster{ gap: .6rem !important; margin-top: -5px;}
    .step-row .d-poster .item{ width: 60px;}
    .step-row.is-poster > .line-center{ flex-direction: column; align-items: flex-start;}
    .w2g-create .is-submit > .buttons{ flex-direction: column;}
    .w2g-create .is-submit > .buttons > .btn{ width: 100%;}
    .create-live-steps .step .number{ font-size: 30px; width: 20px;}
    .create-live-steps .step .text{ padding: 1rem 0;}
    .lw-header .live-source .tag-name, .lw-header .live-name span{ max-width: 200px;}
    .buttons-loadmore .btn{ width: 100%;}
}