/* event */
.vn-flag{ position: absolute; left: 20px; top: -5px; width: 30px; height: 20px;}
.vn-flag span{ width: 100%; height: 100%; display: flex; background-image: url(/images/event_304/vn-flag.gif); background-position: center center; background-repeat: no-repeat; background-size: cover;}
.event-gpmn .event-content{ width: 100%; height: 350px; margin-top: 1rem; background-color: #fedaa8; border-radius: 1rem; position: relative; display: flex; gap: 4rem; align-items: center;}
.hero{ flex-shrink: 0; width: 350px; height: 350px; background-image: url(/images/event_304/hero.webp); background-size: cover; background-position: center center; z-index: 3; position: relative;}
.hero-behind{ position: absolute; top: 0; bottom: 0; left: 0; width: 600px; border-radius: 1rem 0 0 1rem; overflow: hidden;}
.hero-behind:before{ content: ""; opacity: .5; position: absolute; top: 0; left: -120px; width: 100%; height: 100%; background-image: url(/images/event_304/behind-hero.webp); background-size: cover; background-position: center top; z-index: 2;}
.hero .flag{ width: 203px; height: 180px; background-image: url(/images/event_304/vn-flag-full.gif); background-size: cover; background-position: center center; position: absolute; left: 48px; top: -30px; transform: rotate(-23deg);}
.gpmn-text{ position: relative; flex-shrink: 0; z-index: 3; display: flex; flex-direction: column; gap: 1.5rem;}
.gpmn-text img{ height: 200px; width: auto;}
.gpmn-text .btn{ box-shadow: 0 10px 10px 0 #0002; opacity: 1 !important;}
.grid-3x2{ flex-grow: 1; display: grid; row-gap: 2rem; column-gap: 2rem; grid-template-columns: repeat(3,1fr); position: relative; z-index: 3; padding: 0 2rem;}
.grid-3x2 .h-item{ align-items: stretch;}
.grid-3x2 .h-item .v-thumbnail{ box-shadow: 0 5px 5px 0 #0003; border: 2px solid #fff;}
.grid-3x2 .h-item .info{ display: flex; flex-direction: column; justify-content: space-between; padding: 1rem 0;}
.grid-3x2 .h-item .item-title a{ font-size: 1.1em; font-weight: 500; color: #000 !important;}
.grid-3x2 .h-item .btn-outline{ border-color: #362814 !important; gap: .3rem; font-size: .9em !important; color: #362814 !important; gap: .5rem;}
.grid-3x2 .h-item .btn-outline i{ color: #fd2400 !important;}
.gpmn-more{ position: relative; flex-shrink: 0; height: 100%; width: 80px; border-radius: 0 1rem 1rem 0; overflow: hidden;}
.gpmn-more .more-button{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #c9221a; display: flex; justify-content: center; align-items: center; gap: 1rem; color: #fff; font-size: 1em;}
.gpmn-more .more-button i{ font-size: 24px;}
.gpmn-more .more-button span{ display: none;}
.gpmn-topic .topic-background{ background-image: url(/images/event_304/gpmn-bg.webp); background-size: cover; background-position: center center; background-repeat: no-repeat;}
.gpmn-topic-head{ margin-bottom: 3rem; gap: 4rem;}
.gpmn-topic-head .row-header .category-name{ font-size: 2.4em; line-height: 1.5;}
.gpmn-topic-head .flex-shink-0 .object-fit{ width: 300px; height: 380px; position: relative; overflow: hidden; transform: rotate(-5deg);}

.tank-wrap{ width: 600px; height: 450px; position: relative; display: flex; flex-direction: column; align-items: center; justify-content: flex-end; margin-bottom: 1rem; transform: scale(.75); transform-origin: bottom center; margin-top: -150px;}
.tank-wrap .vn-sun{ width: 500px; height: 360px; overflow: hidden; position: absolute; top: 0; left: 50%; transform: translateX(-50%); mask-image: linear-gradient(to top, transparent 0,black 40%, black 60%, transparent 100%); -webkit-mask-image: linear-gradient(to top, transparent 0,black 40%, black 60%, transparent 100%);}
.tank-wrap .vn-sun img{ width: 140% !important; max-width: none !important; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); object-fit: cover;}
.tank-simu{ width: 600px; height: 200px; display: flex; position: relative; z-index: 2; background-image: url(/images/event_304/tank.webp); background-size: cover; overflow: hidden; animation: tank-simu 2s linear;}
.tank-simu .wheels{ position: absolute; left: 166px; bottom: 0; height: 58px; width: 270px; display: flex; align-items: center; justify-content: space-between;}
.tank-simu .wheels span{ width: 45px; height: 45px; flex-shrink: 0; background-image: url(/images/event_304/wheel.webp); background-size: cover; animation: wheel-spin 2s linear infinite;}
.tank-simu .wheels span:nth-child(4){ margin-right: 1rem;}
.fence, .fence2{ width: 240px; height: 180px; background-size: cover; background-image: url(/images/event_304/fence.webp); position: absolute; left: 100%; bottom: 0; z-index: 3; animation: fence 1.8s linear; animation-delay: .3s; opacity: 0;}
.fence2{ animation-delay: .6s; background-image: url(/images/event_304/fence2.webp);}
.tank-simu .ground{ width: 1200px; height: 50px; background-size: cover; background-image: url(/images/event_304/ground.webp); position: absolute; left: 100%; bottom: 0; z-index: 3; animation: ground 12s linear;}
.tank-wrap .gate, .tank-wrap .gate2{ width: 30px; height: 200px; background-color: #191b24; z-index: 4; position: absolute; bottom: -20px; left: 0; animation: gate 2s linear; animation-delay: .3s; opacity: 0;}
.tank-wrap .gate2{ width: 23px; z-index: 1; animation-delay: .5s;}

#gpmn-body-load{ display: flex; position: fixed; z-index: 1000; top: 0; right: 0; bottom: 0; width: 100%; height: 100vh; background-color: var(--bg-color); justify-content: center; align-items: center; animation: gpmn-body-load-effect 2.75s forwards;}
#gpmn-body-load .bl-logo{ width: 100%; max-width: 830px; padding: 0 15px; display: flex; flex-direction: column; gap: 2rem; justify-content: center; align-items: center; font-size: 2.5em; line-height: 1.4; color: #ffffff60; font-weight: 600; animation: gpmn-logo-load 2s forwards; opacity: 0;}
#gpmn-body-load .bl-logo img{ width: 60%; max-width: 360px; height: auto;}
body.gpmn-base-load{ animation: gpmn-base-load 1s forwards; overflow: hidden; width: 100%; height: 100vh; animation-delay: 2s;}

/* body.gpmn-base-load, #gpmn-body-load .bl-logo, #gpmn-body-load{ animation: none !important; opacity: 1 !important;} */

@keyframes gpmn-body-load-effect {
    0% {
        opacity: 100%;
        z-index: 1000;
    }
    80% {
        opacity: 100%;
        z-index: 1000;
    }
    100% {
        opacity: 0;
        z-index: -100;
    }
}
@keyframes gpmn-base-load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; overflow: unset; height: auto;
    }
}
@keyframes tank-simu {
    0% {
        transform: rotate(0);
    }
    30% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes fence {
    0% {
        left: 100%; bottom: 0; transform: rotate(-15deg); opacity: 1;
    }
    100% {
        left: 0; bottom: -150px; transform: rotate(50deg); opacity: 1;
    }
}
@keyframes gate {
    0% {
        left: 100%; opacity: 1;
    }
    75% {
        left: 25%; opacity: 1;
    }
    100% {
        left: 0; opacity: 0;
    }
}
@keyframes wheel-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes gpmn-logo-load {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    90% {
        transform: scale(1); opacity: 1;
    }
    100% {
        transform: scale(.6); opacity: 0;
    }
}

@media screen and (max-width: 1740px){
    .grid-3x2{ grid-template-columns: repeat(2,1fr); padding-left: 2rem; padding-right: 0;}
    .grid-3x2 .h-item:nth-child(n+5){ display: none;}
    .event-gpmn .event-content{ gap: 2rem;}
    .gpmn-more{ width: 60px;}
}
@media screen and (max-width: 1359px){
    .gpmn-text img{ height: 160px;}
    .grid-3x2{ column-gap: 1rem; padding: 0 1rem 0 2rem;}
    .grid-3x2 .h-item .info{ padding: .25rem 0;}
    .grid-3x2 .h-item .item-title a{ font-size: 1em;}
    .grid-3x2 .h-item .v-thumb-m{ width: 60px;}
    .grid-3x2 .h-item .btn-outline{ font-size: 12px;}
    .hero-behind{ width: 500px;}
    .hero{ width: 300px; height: 300px;}
    .hero .flag{ width: 143px; height: 120px; left: 40px; top: -10px;}
    .event-gpmn .event-content{ height: 300px; gap: 0;}
}
@media screen and (max-width: 1120px){
    .event-gpmn .event-content{ flex-direction: column; height: auto; align-items: flex-start;}
    .gpmn-text{ position: absolute; left: 50%;; top: 40px;}
    .grid-3x2{ padding: 2rem; width: 100%; background-color: #fee6c0;}
    .gpmn-more{ width: 100%; height: 60px; position: relative; z-index: 2; border-radius: 0 0 1rem 1rem;}
    .gpmn-more .more-button i{ font-size: 1em;}
    .gpmn-more .more-button span{ display: block;}
    .hero-behind{ width: 100%;}
    .hero-behind::before{ width: 60%; height: 50%; left: 0;}
}
@media screen and (min-width: 720px) and (max-width: 1120px){
    .grid-3x2{ grid-template-columns: repeat(3,1fr)}
    .grid-3x2 .h-item:nth-child(n+5){ display: flex;}
}
@media screen and (max-width: 799px){
    .gpmn-topic-head{ gap: 1.5rem !important;}
    .gpmn-topic-head .flex-shink-0 .object-fit{ width: 160px; height: 200px; transform: none !important;}
    #gpmn-body-load{ font-size: 10px;}
    .tank-wrap{ transform: scale(.5); margin-top: -220px;}
}
@media screen and (max-width: 640px){.grid-3x2{ padding: 1.5rem; gap: 1rem;}
    .gpmn-text{ right: auto; top: 20px; gap: 1rem; left: 180px;}
    .gpmn-text img{ height: auto; width: 175px;}
    .gpmn-text .btn{ font-size: 13px; padding: .3rem .75rem; min-height: 40px;}
    .hero{ height: 200px; width: 200px;}
    .hero .flag{ width: 103px; height: 90px; left: 26px; top: -13px;}
    .hero-behind::before{ width: 100%; height: 200px; opacity: .3; border-radius: 1rem 1rem 0 0;}
    .gpmn-topic-head{ flex-direction: column; align-items: center;}
}
@media screen and (max-width: 479px){
    .grid-3x2{ grid-template-columns: repeat(1,1fr); padding: 1rem;}
    .grid-3x2 .h-item .v-thumb-m{ width: 40px;}
    .grid-3x2 .h-item .v-thumbnail{ border-radius: 6px; padding-bottom: 140%;}
    .grid-3x2 .h-item .info{ flex-direction: row; align-items: center; gap: 1rem;}
    .grid-3x2 .h-item .info .item-title{ margin-bottom: 0 !important;}
    .grid-3x2 .h-item:nth-child(n+4){ display: none;}
    .gpmn-text{ align-items: flex-end; left: auto; right: 1rem;}
    .gpmn-text .btn{ padding: 0 !important; width: 40px !important; height: 40px !important; justify-content: center !important;}
    .gpmn-text .btn span{ display: none;}
}